{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block body_title %}About Oppian{% endblock %}

{% block subnav %}
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td><a href="{% url about_people %}">People</a></td>
		<td><a href="{% url about_jobs %}">Jobs</a></td>
		<td><a href="{% url about_contactus %}">Contact Us</a></td>
	</tr>
</table>
{% endblock %}

{% block body %}
Oppian is a team of creative, talented engineers with a wealth of experience working at the heart of the mobile software industry.
{% endblock %}