{% extends 'base.html' %}

{% block title %}Clients{% endblock %}
{% block body_title %}Clients we have worked with{% endblock %}
{% block tab_id %}clients{% endblock %}

{% block body %}
<p>We can't tell you about all our clients, but we can give you a flavour of the work we've done and the people we've worked with.</p>

<div class="yui-g" style="position:relative;">
    <div class="yui-u first" style="position:absolute; top:50%; height:113px; margin-top:-75px;"><h1><a href="http://www.livetalkback.com"><img src="{{ MEDIA_URL }}images/partners/livetalkback_logo.png" alt="Greys Mead Live Talkback"></a></h1></div>
    <div class="yui-u"><h1><a href="http://www.livetalkback.com"><img src="{{ MEDIA_URL }}images/partners/LiveTalkBackStack.png" alt="Greys Mead Live Talkback Screenshots"></a></h1></div>
</div>

<p>Live Talkback is a realtime voting service for audience participation and feedback.  It is now available on iTunes. <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=327095527&mt=8&uo=6"><img height="15" width="61" alt="Live Talkback on iTunes" src="http://ax.itunes.apple.com/images/badgeitunes61x15dark.gif" /></a></p>

<p>Oppian created the initial end-to-end system architecture for Live Talkback.  In addition, we implemented the server back-end and the initial version of the iPhone client.  To achieve this, we used Django and the iPhone SDK along with Amazon EC2 and RightScale services.</p>

<h1>Partners</h1>
<p>We've also partnered with these groups</p>

<div class="yui-gb">
    <div class="yui-u first"><h1><a href="http://goodguysmedia.com"><img src="{{ MEDIA_URL }}images/partners/GoodGuysMedia-logo.png" alt="Good Guys Media"></a></h1></div>
    <div class="yui-u"><h1><a href="http://transmissionbegins.com"><img src="{{ MEDIA_URL }}images/partners/TransmissionBegins-logo.png" alt="Transmission Begins"></a></h1></div>
    <div class="yui-u"><h1><a href="http://tomsawyereffect.wordpress.com"><img src="{{ MEDIA_URL }}images/partners/TomSawyerEffect-logo.png" alt="Tom Sawyer Effect"></a></h1></div>
    <div class="yui-u first"><h1><a href="http://cirrusmobile.com/"><img src="{{ MEDIA_URL }}images/partners/CirrusMobile-logo.png" alt="Cirrus Mobile"></a></h1></div>
    <div class="yui-u"><h1><a href="http://www.slashdesign.com/"><img src="{{ MEDIA_URL }}images/partners/SlashDesign-logo.png" alt="Slash Design"></a></h1></div>
</div>

{% endblock %}