{% extends 'about/about.html' %}

{% block title %}Contact us{% endblock %}
{% block body_title %}Contact us{% endblock %}

{% block body %}

<p>To discuss potential projects, please contact our business development manager, <a href="{% url about_people %}#mal">Mal Minhas</a> on <a href="tel:+447747065414">+44 7747 065414</a> or email him at <a href="mailto:mal@oppian.com">mal@oppian.com</a>.</p>

<p>To let us know about your skills and find out about potential jobs, please email <a href="mailto:jobs@oppian.com">jobs@oppian.com</a>.</p>

<p>You can follow us on twitter at <a href="http://twitter.com/{{ settings.TWITTER_USER }}">twitter.com/{{ settings.TWITTER_USER }}</a>. 

{% endblock %}