{% extends 'about/about.html' %}

{% block title %}Jobs{% endblock %}
{% block body_title %}Jobs At Oppian{% endblock %}

{% block body %}
<p>There are no job vacancies at the present time, but we do maintain a list of contacts we turn to when we need to expand our capacity.</p>
<p>We're always on the look out for people with expertise in Django and Python as well as those with client device programming experience, such as Android and iPhone.</p>
<p>If you'd like to join our books, then please mail <a href="mailto:jobs@oppian.com">jobs@oppian.com</a></p>
{% endblock %}