{% extends 'about/about.html' %}

{% block title %}People{% endblock %}
{% block body_title %}Meet the Team{% endblock %}

{% block body %}

<a name="mal"><h1>Mal Minhas</h1></a>
<p>
<img style="float:left;MARGIN-RIGHT:5px" src="{{ MEDIA_URL }}images/oppian-mal-48x48.png" alt="Mal Minhas">
Mal is Oppian's primary business development manager, but can turn his hand to development too.  
After his Computing Science master's degree from Imperial College, he has acquired over fourteen years experience building and leading teams in industry leading companies such as Apple, Adobe and Symbian.      
He a frequent speaker at mobile and open source conferences supporting gnubox, sf.gnupoc.net, symbianos.org, PyCon, FOSDEM and has participated in Bluetooth SIG and IrDA standards bodies.  
</p>
<p>
Mal specialist areas of excellence are Python, Bluetooth, networking/communications, synchronisation, messaging along with Mac OS X and Linux.
</p>
     
<a name="steve"><h1>Stephen Hartley</h1></a>
<p>
<img style="float:left;MARGIN-RIGHT:5px" src="{{ MEDIA_URL }}images/oppian-steve-48x48.png" alt="Stephen Hartley">
After Stephen's Computer Science degree from Durham University, he started his consulting career at Teleca working on banking software, Unix mail systems and PC communications systems.  
From here he went on to work for Psion and then Symbian focussing on Messaging and UI design and development before becoming a senior Technical Lead and architect responsible for the Nokia 7710 UI at Mobile Innovation.  
Following the acquisition of Mobile Innovation by Macromedia and Macromedia by Adobe, Stephen spent two years in San Francisco working on various projects involving the Flash player including porting to new platforms.  
</p>
<p>
Stephen's areas of special interest are Python, Django, Perl, Symbian OS, iPhone and is looking for an excuse to use LLVM in anger. 
</p>

<a name="neil"><h1>Neil Davis</h1></a>
<p>
<img style="float:left;MARGIN-RIGHT:5px" src="{{ MEDIA_URL }}images/oppian-neil-48x48.png" alt="Neil Davis">
Following his computer science and mathematics degree from Leeds University, Neil worked at Psion creating the initial Symbian UI and the IrDA file transfer engine and then on to the Symbian/PC connectivity and synchronisation software.  
After Symbian, Neil had a stint at Extended Systems improving their infrared connectivity devices and then at Management Systems Designers implementing an XSLT-based publication system.
Then Neil joined Stephen developing the Nokia 7710 UI at Mobile Innovations before developing Flash and large-scale server implementations including authenticationa and billing systems.
Since founding Oppian Neil was the lead architect and developer for the <a href="/clients/#livetalkback">Live Talkback</a> product for <a href="/clients/#greysmead">Greys Mead</a> developing both the server and the prototype iPhone client.   
</p>
<p>
Neil's favourite areas of technology are iPhone, Python/Django, XML/XSLT, Java and Flash.    
</p>

<a name="matt"><h1>Matthew Jacobi</h1></a>
<p>
<img style="float:left;MARGIN-RIGHT:5px" src="{{ MEDIA_URL }}images/oppian-matt-48x48.png" alt="Mal Minhas">
Matt co-founded the ISP, Cybernet 2000 in Australia where he was the technical architect looking after all areas of technology with particular focus on QOS and bandwidth optimisation.
After this Matt, developped an ecommerce system using LAMP for inteRad Technology followed by implementing an audit system for credit card transactions at Paytech along with CRM tools.
Matt then entered the mobile software development arena; creating numerous PDA/Smartphone applications on Symbian, PalmOS, Windows CE and Linux devices, before escaping to the UK to join Stephen and Neil at Mobile Innovation.
After helping to develop the Nokia Series 80 UI, Matt worked at Adobe to produce various Flash based solutions including an optimized Flash application framework (Cairngorm) for agile application development and then, as systems architect, he created customer deployments of Adobe's mobile data services server.
Since Oppian, Matt has primarily been focused on Django-based server systems which are highly scalable.      
</p>
<p>
Matt has a particularly strong experience in Python/Django, Symbian, SQL, SOAP, Java and Linux. 
</p>

{% endblock %}
