{% extends 'base.html' %}

{% block title %}Services{% endblock %}
{% block body_title %}The things we do{% endblock %}

{% block body %}
<ul>
	<li>Oppian is a software systems consultancy.</li>
	<li>Passionate about embedded devices, high quality software and the shift to cloud computing.</li>
	<li>Total solutions from embedded operating systems to back-end infrastructure.  We can provide strategic/architectural expertise throughout.</li>
	<li>We embrace agile development and iterative delivery and can help you.
	<li>Our team of engineers have worked at Psion, Apple, Adobe and Symbian on both mobile clients as well as backend servers with a focus on scaling.
</ul>
{% endblock %}