.post h3 {
	font-weight:normal;
	letter-spacing:-1px;
}

.post a:hover h3 {
	text-decoration:underline;
}

.post ul.post_info {
	font-size:0.8em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:0;
}

.post ul.post_info li {
	background-position:0 0.2em;
	background-repeat:no-repeat;
	display:inline;
	padding-left:18px;
}

.post ul.post_info li.date {
	background-image:url('../images/post.gif');
}

.post ul.post_info li.comments {
	background-image:url('../images/comments.gif');
	margin-left:1.1em;
}
