@charset "UTF-8";
/* CORE CSS Document */

/* --- MAIN --- */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
	background-color: #fff;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color:#5f5f5f;
	font-size: 0.9em;
	background-image: url(../images/core/bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

.thrColElsHdr #container {
	width: 963px;
	margin: 0 auto;
	text-align: left;
}

div.hr {display: none}
a{}
div.hr {
  display: block;
  height: 1px;
  /*width: 960px;*/
  width: 100%;
  border-bottom: 1px dotted #999999; 
  margin: 2em 0 2em 0;
  float: left;
}
hr {display:none}


/* --- HEADER --- */

.header {
	height: 170px;
	width: 100%;
	float: left;
}
.header_logo {
	height: 170px;
	width: 306px;
	float: left;
	background-image: url(../images/core/nav_base_lhs.png);
	background-repeat: no-repeat;
}
.header_logoImg {
	margin-left: 15px;
	margin-top: 40px;
}
.header_nav {
	height: 170px;
	width: 657px;
	float: left;
	background-image: url(../images/core/nav_base.png);
	background-repeat: no-repeat;
}


#menu
{
    height: 170px;
	width: 657px;
	float: left;
	background-image: url(../images/core/nav_base.png);
	background-repeat: no-repeat;
}

#menu ul
{
list-style: none;
padding:0;
margin:0;
display:inline;
}

#menu ul li
{
list-style: none;
padding:0;
margin:0;
display:inline;
}

#menu li
{
float: left;
padding:0;
margin:0;
display:inline;
}

#menu li a
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	width: auto;
	height: 170px;
	float: left;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: bold;
	padding-top: 80px;
	width: auto;
	height: 170px;
	float: left;
}

#menu li h3
{
	float: left;
	padding:0;
	margin:0;
	display:inline;
	padding: 0;
	margin: 0;
	text-decoration: none;
	width: auto;
	float: left;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: bold;
	padding-top: 80px;
	width: auto;
	float: left;
}


#menu li h3 a:hover
{
	border: 0;
	color: #FF6;
}

#menu div
{
    width: 18px;
	height: 170px;
	float: left;
}

#menu li a.active,
#menu.tab-home li #tab-home,
#menu.tab-about li #tab-about,
#menu.tab-services li #tab-services,
#menu.tab-clients li #tab-clients,
#menu.tab-labs li #tab-labs,
#menu.tab-blog li #tab-blog,
#menu.tab-contact li #tab-contact
{
	width: auto;
	height: 170px;
	background-image: url(../images/core/navitem_ON_mid.png);
	float: left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #a10b12;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: bold;
	padding-top: 80px;
}

#menu.tab-home li #tab-home-left,
#menu.tab-about li #tab-about-left,
#menu.tab-services li #tab-services-left,
#menu.tab-clients li #tab-clients-left,
#menu.tab-labs li #tab-labs-left,
#menu.tab-blog li #tab-blog-left,
#menu.tab-contact li #tab-contact-left
{
	background-image: url(../images/core/navitem_ON_lhs.png);
}


#menu.tab-home li #tab-home-right,
#menu.tab-about li #tab-about-right,
#menu.tab-services li #tab-services-right,
#menu.tab-clients li #tab-clients-right,
#menu.tab-labs li #tab-labs-right,
#menu.tab-blog li #tab-blog-right,
#menu.tab-contact li #tab-contact-right
{
	background-image: url(../images/core/navitem_ON_rhs.png);
}


/* --- NAV --- */

.navonLHS {
	width: 18px;
	height: 170px;
	background-image: url(../images/core/navitem_ON_lhs.png);
	float: left;
}
.navonMID {
	width: auto;
	height: 170px;
	background-image: url(../images/core/navitem_ON_mid.png);
	float: left;
}
.navonRHS {
	width: 18px;
	height: 170px;
	background-image: url(../images/core/navitem_ON_rhs.png);
	float: left;
}
.navonText {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #a10b12;
	/*font-size: 1.1em;
	line-height: 1.3em;*/
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: bold;
	padding-top: 80px;
}
.navoffLHS {
	width: 18px;
	height: 170px;
	float: left;
}
.navoffMID {
	width: auto;
	height: 170px;
	float: left;
}
.navoffRHS {
	width: 18px;
	height: 170px;
	float: left;
}
.navoffText {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #fff;
	/*font-size: 1.1em;
	line-height: 1.3em;*/
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: bold;
	padding-top: 80px;
}
.topnav {
	padding:0;
	margin:0;
	display:inline;
}
#topnav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
#topnav li {
	display:inline;
}

/* --- SECONDARY NAV --- */

.secondarynav_top {
	background-image: url(../images/core/subnav/navbox_top.jpg);
	width: 210px;
	height: 19px;
	font-size: 0px;
	line-height: 24px;
}
.secondarynav_middle {
	background-image: url(../images/core/subnav/navbox_middle.jpg);
	background-repeat: repeat-y;
	width: 210px;
	height: auto;
}
.secondarynav_bottom {
	background-image: url(../images/core/subnav/navbox_bottom.jpg);
	background-repeat: no-repeat;
	background-position: top;
	width: 210px;
	height: 19px;
	margin-bottom: 14px;
	font-size: 0px;
	line-height: 14px;
}
.secondarynav_middle_layout {
	margin-left: 0px;
	width: auto;
	height: auto;
}
a.secondarynav_link:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
a.secondarynav_link:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
a.secondarynav_link:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
a.secondarynav_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
a.secondarynav_link_off:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333333;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
a.secondarynav_link_off:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333333;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
a.secondarynav_link_off:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333333;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
a.secondarynav_link_off:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #e41822;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 32px;
	border: 0;
}
.secondarynav_divider {
	background-image: url(../images/core/subnav/2nav_divider.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	width: 188px;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	margin-left: 11px;
	margin-right: 11px;
}
.secondarynav_highlight_top {
	background-image: url(../images/core/subnav/highlightTop.jpg);
	width: 189px;
	height: 8px;
	margin-left: 11px;
	font-size: 0px;
	line-height: 9px;
}
.secondarynav_highlight_middle {
	background-color:#ab0f16;
	width: 189px;
	height: auto;
	margin-left: 11px;
}
.secondarynav_highlight_bottom {
	background-image: url(../images/core/subnav/highlightBottom.jpg);
	width: 189px;
	height: 8px;
	margin-left: 11px;
	font-size: 0px;
	line-height: 9px;
}
.secondarynav_highlight_top_off {
	width: 189px;
	height: 8px;
	margin-left: 11px;
	font-size: 0px;
	line-height: 9px;
}
.secondarynav_highlight_middle_off {
	width: 189px;
	height: auto;
	margin-left: 11px;
}
.secondarynav_highlight_bottom_off {
	width: 189px;
	height: 8px;
	margin-left: 11px;
	font-size: 0px;
	line-height: 9px;
}


/* --- CONTENT --- */

.contentDIV {
	width: 887px;
	height: auto;
	padding-left: 38px;
	padding-right: 38px;
	float: left;
	text-align: left;
	background-image: url(../images/core/contentPanel.png);
	background-position: top;
}
.content2Cols_LHS {
	width: 435px;
	float: left;
	padding-right: 15px;
}
.content2Cols_RHS {
	width: 435px;
	float: left;
	padding-right: px;
}
.content4Cols {
	width: 210px;
	padding-right: 15px;
	float: left;
}
.content4Cols_end {
	width: 210px;
	float: left;
}
.content3Cols {
	width: 210px;
	padding-right: 7px;
	float: left;
}
.content3Cols_end {
	width: 210px;
	float: left;
}
.contentSubNav {
	width: 210px;
	padding-right: 30px;
	float: left;
}
.contentMainPanel {
	width: 645px;
	float: left;
}


/* --- PROMO IMAGES --- */

.promoImage {
	padding-bottom: 15px;
	border: 0;
}



/* --- FOOTER --- */

.footerDIV {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	background-image: url(../images/core/footer.jpg);
	background-repeat: no-repeat;
	padding-top: 100px;
}
.footerBottomSpacer {
	/*height: 20px;*/
	width: 100%;
	padding-top: 20px;
}
.footerCredit {
	color: #a7a7a7;
	font-size: 0.8em;
	margin: 0.35em;
	padding: 0;
}
.footernvav {
	padding:0;
	margin:0;
	display:inline;
	font-size: 0.9em;
}
#footernvav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
#footernvav li {
	display:inline;
}
.listDivider {
	display:inline;
	margin-right: 0.3em;
	margin-left: 0.3em;
	padding-right: 0.3em;
	border-right: 1px solid #999;
}
	

/* --- BULLETTED LIST --- */

.inlinebulletedlist {
	padding:0;
	margin:0;
	display:inline;
	font-size: 0.9em;
}
#inlinebulletedlist ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
#inlinebulletedlist li {
	display:inline;
}

.bulletedlist {
	padding:0;
	margin:0;
	display:block;
}
#bulletedlist ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	
	ist-style: none;
	margin-left: 0;
	margin-top: 0;
	padding-left: 1em;
	text-indent: -1em;

	
}
#bulletedlist li {
	display:block;
	margin-bottom: 0.25em;
}

.subnavbulletedlist {
	padding:0;
	margin:0;
	display:block;
}
#subnavbulletedlist ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	/*formatting for alignment of bullet*/
	/*list-style: none;
	margin-left: 0;
	margin-top: 0;
	padding-left: 1em;
	text-indent: -1em;*/	
}
#subnavbulletedlist li {
	display:block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	/*border-bottom: 1px dotted #999;*/
}

/* --- TYPOGRAPHY --- */

a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color:#e41822;
	text-decoration: none;
	background-color: transparent;
	border-color: #e41822;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-style: dotted;
}
a:hover {
	color:#212121;
}

.imgLink {
	border: 0;
}
a.imgLink:link {
	border: 0;
}
a.imgLink:visited {
	border: 0;
}
a.imgLink:hover {
	border: 0;
}
a.imgLink:active {
	border: 0;
}

a.navOn:link {
	border: 0;
	color: #a10b12;
}
a.navOn:visited {
	border: 0;
	color: #a10b12;
}
a.navOn:hover {
	border: 0;
	color: #212121;
}
a.navOn:active {
	border: 0;
	color: #a10b12;
}

a.navOff:link {
	border: 0;
	color: #fff;
}
a.navOff:visited {
	border: 0;
	color: #fff;
}
a.navOff:hover {
	border: 0;
	color: #FF6;
}
a.navOff:active {
	border: 0;
	color: #fff;
}




/* --- CONTACT PAGE --- */

.contactdetailsLHSDIV {
	width: 186px;
	padding-right: 20px;
	float: left;
}
.contactdetailsRHSDIV {
	width: 400px;
	float: left;
}
.contactaddressText {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 0.8em;
	line-height: 1.3em;
	font-weight: normal;
}

/* --- FORM --- */

.contacFormP{
	padding: 0;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}
.formLHSDIV {
	width: 332px;
	padding-right: 20px;
	float: left;
	text-align: left;
}
.formRHSDIV {
	width: 341px;
	float: left;
	text-align: left;
}
.errors {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 1.0em;
	line-height: 1.3em;
	font-style: italic;
	background-color: #009967;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	width: 663px;
	margin-bottom: 20px;
}
.formfieldClass {
	width: 95%;
	clear: both;
	background-color: #E4E4E4;
	border: 1px solid #ccc;
    border-left-color: #ccc;
    border-top-color: #ccc;
    padding: 0 2px;
    line-height: 20px;
	padding: 5px;
	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 0.9em;
	line-height: 1.3em;
	font-weight: normal;
}
.multilineformfieldClass {
	width: 95%;
	clear: both;
	background-color: #E4E4E4;
	border: 1px solid #ccc;
    border-left-color: #ccc;
    border-top-color: #ccc;
    padding: 0 2px;
    line-height: 20px;
	padding: 5px;
	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 0.9em;
	line-height: 1.3em;
	font-weight: normal;
}
.formMandatorytext {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 0.8em;
	line-height: 2.5em;
	float: right;
	vertical-align: middle;
	padding-right: 3%;
}

form {
	width: 100%;
	text-align: left;
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
}
form.full { width: 100%; }


fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	display: none;
}

form label,
form p {
	display: block;
	clear: both;
	width: 100%;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0 0 9px;
}

form input {
	display: block;
	margin-top: 3px;
}

form select {
	float: left;
	display: block;
}

form label.first,
form label.city {
    clear: left;
    margin-right: 10px;
    width: 150px;
}

form label.second,
form label.state {
	float: left;
	clear: none;
	margin: 0 10px 0 0;
	width: 150px;
}
form label.state { width: 60px; }

form label.first input,
form label.city input,
form label.second input {
	float: left;
	width: 150px;
	padding: 0;
}

form label.state select {
	width: 60px;
	float: left;
	margin-top: 3px;
}

form label.zip,
form label.zip input {
	float: left;
	width: 80px;
}
form label.zip { clear: none; }

form label {
	float: left;
	clear: left;
	width: 100%;
	margin: 0;
	line-height: 1.5em;
}

form label input {
	float: left;
	width: 310px;
	padding: 0;
}

form input.radio,
form input#radiobutton_1,
form input#radiobutton_2,
form input#radiobutton_3,
form input#radiobutton_4 {
	clear: left;
	float: left;
	padding: 0;
	margin: 0;
}

form label.radio,
form label.radioitem {
	clear: none;
	margin: 0 0 0 25px;
	padding: 0 0 15px;
}

form input.checkbox,
form input#checkbox_1,
form input#checkbox_2,
form input#checkbox_3,
form input#checkbox_4 {
	clear: both;
	float: left;
	padding: 0;
	margin: 0;
}

form label.checkbox {
	clear: none;
	margin: 0 0 0 25px;
	padding: 0 0 15px;
}
/* style the form elements to look similar across browsers ... emulates Safari */
form label input,
form textarea {
    border: 1px solid #ddd;
    border-left-color: #c3c3c3;
    border-top-color: #7c7c7c;
    padding: 0 2px;
    height: 18px;
    line-height: 20px;
    background: #fff /*url(../images/input-bg.gif)*/ repeat-x top left; /* SMH */
}
form input.checkbox,
form select {
    border: 1px solid #ddd;
    border-left-color: #c3c3c3;
    border-top-color: #7c7c7c;
    background-color: #fff;    
}
form textarea {
	margin-top: 3px;
	width: 383px;
	height: auto;
	display: block;
}

form label input.calc {
    text-align: right;
    width: 100px;
    clear: left;
    padding: 0;
}
form input.button {
    clear: left;
	float: left;
}
