[submodule "oppianproj/lib/django"]
	path = oppianproj/lib/django
	url = git@github.com:oppian/django.git
[submodule "oppianproj/lib/django-basic-apps"]
	path = oppianproj/lib/django-basic-apps
	url = git://github.com/nathanborror/django-basic-apps.git
[submodule "oppianproj/lib/url-shortener"]
	path = oppianproj/lib/url-shortener
	url = git://github.com/nileshk/url-shortener.git
