{% extends "blog/base_blog.html" %}

{% load comments humanize fb_versions %}

{% block title %}Blog{% endblock %}
{% block body_title %}OppianBlog{% endblock %}

{% block body_class %}{{ block.super }} post_list{% endblock %}

{% block sub_menu %}
	{% load set_vars_from_json %}
	{% set_vars_from_json_block %}
	{ "menu":
	    [{"name":"Oppian Blog",  "url":"{% url blog %}"}
	    ]
	}
	{% end_set_vars_from_json_block %}
	{% include "sub_menu.html" %}
{% endblock %}

{% block body %}
    <div class="contentMainPanel">
        <a href="/feeds/latest/blog/"><img src="{{ MEDIA_URL }}images/RSS_feed_icon_by_carrotmadman6.gif" width=24 border=0 style="float:left;padding-top:4px;"></a><h1>{% block blog_title %}Oppian Blog{% endblock %}</h1>
        
        {% for post in object_list %}
            <div class="hr"><hr /></div>
            {% get_comment_count for post as comment_count %}
            <div class="post">
            	<a href="{{ post.get_absolute_url }}">
                {% if post.thumb %}
                        <img src="{% version post.thumb.path 'blog' %}" class="thumb" alt="{{ post.title }}" style="float:right;" height="110" width="196" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/oppian.png" class="thumb" alt="Blog image - Oppian" style="float:right;" height="104" />
                {% endif %}
                </a>
                
                <a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>
                <ul class="post_info">
                    <li class="date">Posted by {{ post.author.get_full_name }} on {{ post.publish|naturalday }}</li>
                    <li class="comments">{{ comment_count }} comment{{ comment_count|pluralize:',s' }}</li>
                </ul>
                <p class="paragraphText">{{ post.tease }}</p>
            </div>
        {% empty %}
            <br/>
            <h2>Coming soon...</h2>
            <br/><br/><br/><br/><br/><br/>
        {% endfor %}
    </div>
  
    {% if is_paginated %}
        <p class="pagination">
            {% if has_next %}
                <a class="older" href="?page={{ next }}">Older</a>
            {% endif %}
            {% if has_next and has_previous %} | {% endif %}
            {% if has_previous %}
                <a class="newer" href="?page={{ previous }}">Newer</a>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}