{% extends "base.html" %}

{% block title %}URLs{% endblock %}

{% block body %}
      <hr/>
      <div>
        {% if show_url_form %}
        {% block url_form %}
        <form name="url_form" action="{% url shortener_submit %}" method="get">
          {{ link_form.as_p }}
          <input type="submit" value="Submit" />
        </form>
        {% endblock %}
        {% endif %}
      </div>
      <div>
        {% if show_bookmarklet %}
        {% block bookmarklet %}
        <br/>
        Bookmarklet (drag this to your bookmarks bar):<br/>
        <a href="javascript:(function(){var a=window,b=document,c=encodeURIComponent;d=a.open(&#39;http://{{current_site.domain}}{% url shortener_submit %}?u=&#39;+c(b.location));})();">Shorten with Oppian</a>
        {% endblock %}
        {% endif %}
      </div>
    </div>
{% endblock %}