{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block tab_id %}contact{% endblock %}

{% block body %}

    {% include "contact_sub_menu.html" %}

    <div class="contentMainPanel">
    
        <h1>Contact Oppian</h1>
        <p class="paragraphText">To get in touch with us, please email <a href="mailto:info@oppian.com" title="Email info at Oppian">info@oppian.com</a>.</p>
        <p class="paragraphText">To let us know about your skills and find out about potential jobs, please email <a href="mailto:jobs@oppian.com" title="Email Jobs at Oppian">jobs@oppian.com</a>.</p>
        <p class="paragraphText">You can follow us on twitter at <a href="http://twitter.com/oppian" target="_blank" title="Follow Oppian on Twitter">twitter.com/oppian</a>.</p>

    </div>

{% endblock %}