{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block tab_id %}home{% endblock %}

{% block body %}
        <div class="content2Cols_LHS">
            <h1>Welcome to Oppian</h1>
            <p class="paragraphText"><span class="oppian_name">Oppian</span> is a group of creative and passionate technologists with a wealth of experience gained from the forefront of mobile and web development.</p>

            <p class="paragraphText">We believe that mobile software will increasingly be transformed through the use of cloud computing and we have the technical ability and experience to help you take part.</p>
            <p class="paragraphText">Please <a href="{% url contact %}">contact us</a> to find out how we could help advise you with your mobile strategy.</p>
        </div>
        
        <div class="content2Cols_RHS">
            <div id="welcome_flash" style="width:435px;height:320px;">
                <div class="flash_container" >
                    <img src="{{ MEDIA_URL }}/images/flashplayer_100x100.jpg" />
                    <h3>Get Adobe Flash Player</h3>
                    <p>You must have the latest Flash player installed.</p>
                    <p>You can <a href="http://get.adobe.com/flashplayer/">download it here</a>.</p>
                    <br clear="all" />
                </div>
            </div>
        </div>
        <script type="text/javascript">
        flashembed("welcome_flash", {
            src:"{{ MEDIA_URL }}flash/homepage.swf", 
            version: [8,0],
            expressInstall: "{{ MEDIA_URL }}/flash/expressinstall.swf",
            });
        </script>
        
        <div class="content4Cols">
        	<a href="{% url people %}" target="_self" title="Oppian People" class="imgLink"><img src="{{ MEDIA_URL }}images/home/people.png" width="210" height="143" border="0" alt="Oppian People" title="Oppian People" /></a>
        	<h3>People</h3>
            <p class="paragraphLink"><a href="{% url people %}" target="_self" title="Find out more about the people behind Oppian.">Find out more about the people behind Oppian.</a></p>
            </div>
        <div class="content4Cols">
        	<a href="{% url services %}" target="_self" title="Oppian Services" class="imgLink"><img src="{{ MEDIA_URL }}images/home/services.jpg" width="210" height="143" border="0" alt="Oppian Services" title="Oppian Services" /></a>
        	<h3>Services</h3>
            <p class="paragraphLink"><a href="{% url services %}" target="_self" title="Find out more about the services we offer at Oppian.">Find out more about the services we offer at Oppian.</a></p>
        </div>
        <div class="content4Cols">
        	<a href="{% url clients %}" target="_self" title="Oppian Clients" class="imgLink"><img src="{{ MEDIA_URL }}images/clients/livetalkback.jpg" width="210" height="143" border="0" alt="Oppian Clients" title="Oppian Clients" /></a>
        	<h3>Clients</h3>
            <p class="paragraphLink"><a href="{% url clients %}" target="_self" title="Find out more about the clients we work with.">Find out more about the clients we work with.</a></p>
        </div>
        <div class="content4Cols_end">        
            <a href="{% url blog %}" target="_self" title="Oppian Blog" class="imgLink"><img src="{{ MEDIA_URL }}images/home/blog.jpg" width="210" height="143" border="0" alt="Oppian Blog" title="Oppian Blog" /></a>
            <h3>Blog</h3>
            <p class="paragraphLink"><a href="{% url blog %}" target="_self" title="Stay up to date with all the latest news from Oppian.">Stay up to date with all the latest news from Oppian.</a></p>
        </div>

<p class="hidden">Has anyone really been far even as decided to use even go want to do look more like?</p>
{% endblock %}