{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block tab_id %}contact{% endblock %}

{% block body %}     
        <div class="contentSubNav">
        
            <!--2NDRYNAV-->
            
          <div id="secondarynav_top" class="secondarynav_top">
          </div>
            
            <div id="secondarynav_middle" class="secondarynav_middle">
        
            <ul class="topnav">
            
                <li class="topnav"> 
              
                  <div class="secondarynav_highlight_top"></div>
                  <div class="secondarynav_highlight_middle">
                  <h4 class="secondarynav_middle_layout"><a href="{% url contact %}" class="secondarynav_link" target="_self" title="Contact">Contact</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom"></div>
                  
                 
                      
                <div class="secondarynav_divider"></div>
                </li>
                <li class="topnav">
                  
                  <div class="secondarynav_highlight_top_off"></div>
                  <div class="secondarynav_highlight_middle_off">
                  <h4 class="secondarynav_middle_layout"><a href="{% url about %}" class="secondarynav_link_off" target="_self" title="About">About</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom_off"></div>
                  
                 
                  
                <div class="secondarynav_divider"></div>
                </li> 
                <li class="topnav">
              
                  <div class="secondarynav_highlight_top_off"></div>
                  <div class="secondarynav_highlight_middle_off">
                  <h4 class="secondarynav_middle_layout"><a href="{% url people %}" class="secondarynav_link_off" target="_self" title="People">People</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom_off"></div>
                  
                 
              
                <div class="secondarynav_divider"></div>
                  </li> 
                  <li class="topnav">
              
                  <div class="secondarynav_highlight_top_off"></div>
                  <div class="secondarynav_highlight_middle_off">
                  <h4 class="secondarynav_middle_layout"><a href="{% url blog %}" class="secondarynav_link_off" target="_self" title="Blog">Blog</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom_off"></div>
                  
                
                  </li>
                  
              
            </ul>        
                
          </div>
            
          <div id="secondarynav_bottom" class="secondarynav_bottom">
          </div>

        
        </div>
        
        <div class="contentMainPanel">
        
            <h1>Contact Oppian</h1>
          <p class="paragraphText">To discuss potential projects, please contact our business development manager, Mal Minhas on +44 7747 065414 or fill out the form below<a href="mailto:mal@oppian.com" title="Email Mal"></a>.</p>
          
    <form action="" method="post" id="EmailForm">
        {{ form.as_p }}
        <input type="submit" class ="button" value="Send This Message"/>
            <span class="formMandatorytext">all fields are required</span>
    </form>
    <br/>
        

<div class="hr"><hr /></div>

<p class="paragraphText">To let us know about your skills and find out about potential jobs, please email <a href="mailto:jobs@oppian.com" title="Email Jobs at Oppian">jobs@oppian.com</a>.</p>

<p class="paragraphText">You can follow us on twitter at <a href="http://twitter.com/oppian" target="_blank" title="Follow Oppian on Twitter">twitter.com/oppian</a>.</p>

<div class="hr"><hr /></div>

<div class="contactdetailsLHSDIV">

<span class="paragraphText">Offices Address:</span>

<p class="paragraphText"><strong>Oppian Systems Ltd</strong><br />
415 Bromyard House<br />
Bromyard Avenue<br />
LONDON<br />
W3 7BY</p> 

</div>

<div class="contactdetailsRHSDIV">
            
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=114889228489254249829.000473a093a1e4f69a8f0&amp;ll=51.507968,-0.250797&amp;spn=0.002337,0.00456&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=114889228489254249829.000473a093a1e4f69a8f0&amp;ll=51.507968,-0.250797&amp;spn=0.002337,0.00456&amp;z=17&amp;source=embed" target="_blank" style="color:#0000FF;text-align:left">Oppian Systems Ltd</a> in a larger map</small>
            
      </div>
    </div>
{% endblock %}
