{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block tab_id %}about{% endblock %}

{% block body %}

{% load set_vars_from_json %}
{% set_vars_from_json_block %}
{ "menu":
    [{"name":"About",   "url":"{% url about %}"},
     {"name":"People",  "url":"{% url people %}"},
     {"name":"Labs",    "url":"{% url labs %}"},
     {"name":"Blog",    "url":"{% url blog %}"},
     {"name":"Contact", "url":"{% url contact %}"}
    ]
}
{% end_set_vars_from_json_block %}
{% include "sub_menu.html" %}    
        
<div class="contentMainPanel">

    <h1>About Oppian</h1>
    <p class="paragraphText">Oppian was founded in January 2009 by senior managers and architects who had recently left Adobe.</p>
    <p class="paragraphText"><img src="{{ MEDIA_URL }}images/about/logo.jpg" class="imageRightAlign" width="210" height="143" alt="Oppian logo" title="Oppian logo" />Cras pellentesque bibendum ante ut condimentum. Sed in lacus nec nulla dictum porttitor sed in eros. Aenean id magna ac elit ullamcorper bibendum. Ut semper ullamcorper augue, eu vehicula diam semper quis. Suspendisse eu nulla eu orci facilisis consectetur sed vehicula leo. Nam pretium fringilla ligula a mattis. Etiam pellentesque lobortis tortor. Donec turpis dolor, facilisis sed blandit in, bibendum nec nunc. Integer sit amet nisi et lectus malesuada feugiat. Integer tempor justo et leo euismod consequat.</p>
            
    <br />
    <p class="paragraphLink"><a href="{% url people %}" target="_self" title="Follow this link to find out more about the people behind Oppian">Follow this link to find out more about the people behind Oppian</a></p>

</div>

{% endblock %}