{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block tab_id %}about{% endblock %}

{% block body %}

{% load set_vars_from_json %}
{% set_vars_from_json_block %}
{ "menu":
    [{"name":"About",   "url":"{% url about %}"},
     {"name":"People",  "url":"{% url people %}"},
     {"name":"Labs",    "url":"{% url labs %}"},
     {"name":"Blog",    "url":"{% url blog %}"},
     {"name":"Contact", "url":"{% url contact %}"}
    ]
}
{% end_set_vars_from_json_block %}
{% include "sub_menu.html" %}    
        
<div class="contentMainPanel">

    <h1>About Oppian</h1>
    <p class="paragraphText">Oppian was founded in January 2009.</p>
    <p class="paragraphText"><img src="{{ MEDIA_URL }}images/about/logo.jpg" class="imageRightAlign" width="210" height="143" alt="Oppian logo" title="Oppian logo" />
            
    <br />
    <p class="paragraphLink"><a href="{% url people %}" target="_self" title="Follow this link to find out more about the people behind Oppian">Follow this link to find out more about the people behind Oppian</a></p>

</div>

{% endblock %}