<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">

	<head>
		<title>Oppian | {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="designer" content="jonwallacedesign.com" />

		<link href="{{ MEDIA_URL }}css/core_layout.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ MEDIA_URL }}css/core_typography.css" rel="stylesheet" type="text/css" media="screen" />
		<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="{{ MEDIA_URL }}js/pngfix.js"></script>
		<![endif]-->
		<script src="{{ MEDIA_URL }}scripts/swfobject_modified.js" type="text/javascript"></script>
		<!-- Lightbox code -->
		<script type="text/javascript" src="{{ MEDIA_URL }}js/prototype.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/scriptaculous.js?load=effects,builder"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/lightbox.js"></script>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/lightbox.css" type="text/css" media="screen" />
	</head>

	<body class="thrColElsHdr" id="{% block body_id %}base{% endblock %}">
        <div id="container">

			<div id="header">
			    {% block header %}
				    <div class="header_logo">
			            <img src="{{ MEDIA_URL }}images/core/logo.png" width="270" height="81" class="header_logoImg" alt="Oppian logo" title="Oppian logo" />
			        </div>
			        <div id="menu" class="tab-{% block tab_id %}home{% endblock %}">
						<ul class ="topnav">
							<li><div id='tab-home-left'></div><a id='tab-home'  href="{% url home %}">Home</a><div id='tab-home-right'></div>
							<li><div id='tab-about-left'></div><a id='tab-about'  href="{% url about %}">About</a><div id='tab-about-right'></div>
							<li><div id='tab-services-left'></div><a id='tab-services'  href="{% url services %}">Services</a><div id='tab-services-right'></div>
							<li><div id='tab-clients-left'></div><a id='tab-clients'  href="{% url clients %}">Clients</a><div id='tab-clients-right'></div>
							<li><div id='tab-labs-left'></div><a id='tab-labs'  href="{% url labs %}">Labs</a><div id='tab-labs-right'></div>
							<li><div id='tab-blog-left'></div><a id='tab-blog'  href="{% url blog %}">Blog</a><div id='tab-blog-right'></div>
							<li><div id='tab-contact-left'></div><a id='tab-contact'  href="{% url contact %}">  Contact</a><div id='tab-contact-right'></div>
							</li>
						</ul>
					</div>
			    {% endblock %}
			</div>
				
			<div id="main" class="contentDIV">
	            {% block body %}
	            {% endblock %}
	        </div>
	        
	        <div class="footerDIV">
	            <ul class="footernvav">
	                <li class="footernvav"><a href="{% url home %}" target="_self" title="Home">Home</a><div class="listDivider"></div></li>
	                <li class="footernvav"><a href="{% url about %}" target="_self" title="About">About</a><div class="listDivider"></div></li>
	                <li class="footernvav"><a href="{% url services %}" target="_self" title="Services">Services</a><div class="listDivider"></div></li>
	                <li class="footernvav"><a href="{% url clients %}" target="_self" title="Clients">Clients</a><div class="listDivider"></div></li>
	                <li class="footernvav"><a href="{% url labs %}" target="_self" title="Labs">Labs</a><div class="listDivider"></div></li>
	                <li class="footernvav"><a href="{% url blog %}" target="_blank" title="Blog">Blog</a><div class="listDivider"></div></li>
	                <li class="footernvav"><a href="{% url contact %}" target="_self" title="Contact">Contact</a></li>
			    </ul>
	            <br /><br />
		        <p class="footerCredit">Copyright © 2009 Oppian Systems Ltd. All rights reserved.</p>
				<p class="footerCredit">Design by <a href="http://www.jonwallacedesign.com" target="_blank" title="Design by jonwallacedesign.com">jonwallacedesign.com</a></p>	    
		    	<br />
		    	<div class="footerBottomSpacer"></div>
		    </div>
	    </div>
	</body>
</html>