{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block tab_id %}contact{% endblock %}

{% block body %}

    {% include "contact_sub_menu.html" %}

    <div class="contentMainPanel">
    
            <span class="paragraphText">Offices Address:</span>
            <p class="paragraphText"><strong>Oppian Systems Ltd</strong><br />
                415 Bromyard House<br />
                Bromyard Avenue<br />
                LONDON<br />
                W3 7BY
            </p> 
        </div>
        
        <div class="contactdetailsRHSDIV">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=114889228489254249829.000473a093a1e4f69a8f0&amp;ll=51.507968,-0.250797&amp;spn=0.002337,0.00456&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=114889228489254249829.000473a093a1e4f69a8f0&amp;ll=51.507968,-0.250797&amp;spn=0.002337,0.00456&amp;z=17&amp;source=embed" target="_blank" style="color:#0000FF;text-align:left">Oppian Systems Ltd</a> in a larger map</small>
        </div>

    </div>
{% endblock %}
