{% extends 'base.html' %}
{% block title %}People{% endblock %}
{% block tab_id %}about{% endblock %}

{% block body %}

    {% load set_vars_from_json %}
    {% set_vars_from_json_block %}
    { "menu":
        [{"name":"About",   "url":"{% url about %}"},
         {"name":"People",  "url":"{% url people %}"},
         {"name":"Labs",    "url":"{% url labs %}"},
         {"name":"Blog",    "url":"{% url blog %}"},
         {"name":"Contact", "url":"{% url contact %}"}
        ]
    }
    {% end_set_vars_from_json_block %}
    {% include "sub_menu.html" %}  

<div class="contentMainPanel">

    <h1>Oppian People</h1>
    <p class="paragraphText"><span class="oppian_name">Oppian</span>'s staff are highly skilled multi-disciplinary mobile, desktop and server technologists with many years experience of software at the heart of the industry.  We have a passion for mobile and cloud computing and a real dedication to help our customers efficiently realise their projects.  We cover all technology bases between mobile and cloud and advise our customers on complete end to end technology proposition.</p>
  
    <div class="hr"><hr /></div>
	
	<p class="paragraphText">Our areas of expertise include:</p>
    
	<!-- languages -->
    <p class="bio_technology_line">Python, Lua, Perl, JavaScript, HTML, CSS, ActionScript 2, ActionScript 3, Flash, Bash, C, C++, Objective-C, Java, J2EE</p>
	<!-- frameworks -->
	<p class="bio_technology_line">Django, Pinax, Twisted, Flex, Cairngorm, Mate, JQuery, JQuery UI, OpN, ColdFusion</p>
	<!-- services/protocols -->
	<p class="bio_technology_line">Web Services (REST/SOAP/JSON), Synchronisation (SyncML/vCard/vCal), Shortlink Comms (IrCOMM/IrDA/Bluetooth), WiFi, GSM/GPRS/3G, TCP/IP, UDP, IPv4/IPv6, ICMP, IPSec, PPP, ZeroConf/Bonjour, UPnP, SSH, HTTP, SMTP/ESMTP, POP3, IMAP, MIME, SMS, MMS, DRM, SVG, Cloud computing (EC2/AWS), XML (DOM/SAX), XSLT, GPS, Database(SQL/PostgreSQL/Oracle/MySQL/SQLite/DBMS), WebLogic, Tomcat, Hudson/Jenkins</p>
	<!-- OS -->
	<p class="bio_technology_line">Mac OS X, iOS, Linux (Red Hat, Ubuntu, Fedora), Android, Solaris, Symbian, S60</p>
	    
    <div class="hr"><hr /></div>

</div>    
{% endblock %}