{% extends 'base.html' %}
{% block title %}People{% endblock %}
{% block tab_id %}about{% endblock %}

{% block body %}

    {% load set_vars_from_json %}
    {% set_vars_from_json_block %}
    { "menu":
        [{"name":"About",   "url":"{% url about %}"},
         {"name":"People",  "url":"{% url people %}"},
         {"name":"Labs",    "url":"{% url labs %}"},
         {"name":"Blog",    "url":"{% url blog %}"},
         {"name":"Contact", "url":"{% url contact %}"}
        ]
    }
    {% end_set_vars_from_json_block %}
    {% include "sub_menu.html" %}  

<div class="contentMainPanel">

    <h1>Oppian People</h1>
    <p class="paragraphText">The people at Oppian are highly skilled software architects and managers and are dedicated to helping customers efficiently realise their projects.</p>
  
    <div class="hr"><hr /></div>
  
    <img src="{{ MEDIA_URL }}images/about/mal.jpg" class="imageLeftAlign" width="210" height="143" alt="Mal Minhas" title="Mal Minhas" /><h3>Mal Minhas</h3>
    <p class="paragraphText">Mal is Oppian's primary business development manager, but can turn his hand to development too. After his Computing Science master's degree from Imperial College, he has acquired over fourteen years experience building and leading teams in industry leading companies such as Apple, Adobe and Symbian. He a frequent speaker at mobile and open source conferences supporting gnubox, sf.gnupoc.net, symbianos.org, PyCon, FOSDEM and has participated in Bluetooth SIG and IrDA standards bodies.</p>
    <p class="paragraphText"><em>Mal specialist areas of excellence are Python, Bluetooth, networking/communications, synchronisation, messaging along with Mac OS X and Linux.</em></p>
    
    <div class="hr"><hr /></div>
  
    <img src="{{ MEDIA_URL }}images/about/steve.jpg" class="imageLeftAlign" width="210" height="143" alt="Stephen Hartley" title="Stephen Hartley" /><h3>Stephen Hartley</h3>
    <p class="paragraphText">After Stephen's Computer Science degree from Durham University, he started his consulting career at Teleca working on banking software, Unix mail systems and PC communications systems. From here he went on to work for Psion and then Symbian focusing on Messaging and UI design and development before becoming a senior Technical Lead and architect responsible for the Nokia 7710 UI at Mobile Innovation. Following the acquisition of Mobile Innovation by Macromedia and Macromedia by Adobe, Stephen spent two years in San Francisco working on various projects involving the Flash player including porting to new platforms.</p>
    <p class="paragraphText"><em>Stephen's areas of special interest are Python, Django, Perl, Symbian OS, iPhone and is looking for an excuse to use LLVM in anger.</em></p>
    
    <div class="hr"><hr /></div>
  
    <img src="{{ MEDIA_URL }}images/about/neil.jpg" class="imageLeftAlign" width="210" height="143" alt="Neil Davis" title="Neil Davis" /><h3>Neil Davis</h3>
    <p class="paragraphText">Following his computer science and mathematics degree from Leeds University, Neil worked at Psion creating the initial Symbian UI and the IrDA file transfer engine and then on to the Symbian/PC connectivity and synchronisation software. After Symbian, Neil had a stint at Extended Systems improving their infrared connectivity devices and then at Management Systems Designers implementing an XSLT-based publication system. Then Neil joined Stephen developing the Nokia 7710 UI at Mobile Innovations before developing Flash and large-scale server implementations including authentication and billing systems. Since founding Oppian Neil was the lead architect and developer for the Live Talkback product for Greys Mead developing both the server and the prototype iPhone client.</p>
    <p class="paragraphText"><em>Neil's favourite areas of technology are iPhone, Python/Django, XML/XSLT, Java and Flash.</em></p>
    
    <div class="hr"><hr /></div>
  
    <img src="{{ MEDIA_URL }}images/about/matt.jpg" class="imageLeftAlign" width="210" height="143" alt="Matthew Jacobi" title="Matthew Jacobi" /><h3>Matthew Jacobi</h3><p class="paragraphText">Matt is a multi-disciplined software architect with strong experience developing and supporting both carrier-grade backend infrastructure for mobile services as well as mobile applications for the <strong>Apple iPhone</strong>, <strong>Google Android</strong>, <strong>Symbian OS</strong>, <strong>Adobe FlashLite/AIR</strong> and web.  He understands the practical optimisation required for real mobile deployments and is able to architect solutions from start to finish, including the key areas of scaling, redundancy and capacity.</p
    <p class="paragraphText">He is able to add value in many areas of the team including the development cycle as well as the server adminstration and deployment side.  He has a strong knowledge across a broad spectrum of technologies including <strong>SOAP</strong>, <strong>REST</strong>, <strong>JSON</strong>, <strong>XML</strong>, <strong>XSLT</strong>, <strong>SQL</strong> as well as a multitude of programming languages both compiled and scripted.  His preferred development languages include <strong>Python</strong>, <strong>Perl</strong>, <strong>JavaScript</strong>, <strong>Bash</strong>, <strong>PHP</strong>, <strong>C/C++</strong> and <strong>Java</strong>.</p>
    <p class="paragraphText">His in-depth development and deployment experience on both mobile and web-based clients and server-side has given him a detailed knowledge of the various transport mechanisms and how to use them most effectively for efficient communication.</p>
    <p class="paragraphText">While at Oppian, Matt has architected and implemented a live voting system for <a href="{% url clients %}#livetalkback">Live Talkback</a>.  The system uses <strong>Amazon EC2</strong>, <strong>Amazon Web Services (AWS)</strong>, and <strong>RightScale</strong> cloud computing services with the backend implemented using <strong>Django</strong>, <strong>JQuery</strong> and <strong>PostgreSQL</strong>.</p>

</div>    
{% endblock %}