{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block tab_id %}services{% endblock %}

{% block body %}    

{% include "services_sub_menu.html" %}
        
<div class="contentMainPanel">
    <h1>Recommended</h1>
    <p class="paragraphText">We at Oppian like to give credit where credit is due and we'd like to recommend these services that we often use ourselves.</p>  
    <div class="content2Cols_inner_LHS"><a href="http://www.amazon.com/" target="_blank" class="imgLink" title="Amazon"><img src="{{ MEDIA_URL }}images/services/amazon-web-services.jpg" width="210" height="143" border="0" alt="Amazon" title="Amazon" id="amazon" /></a></div>
    <div class="content2Cols_inner_RHS"><a href="http://www.rightscale.com/" target="_blank" class="imgLink" title="Right Scale"><img src="{{ MEDIA_URL }}images/services/rightscale.jpg" width="210" height="143" border="0" alt="Right Scale" title="Right Scale" style="float:right;" id="rightscale"/></a></div>
</div>

{% endblock %}