{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block tab_id %}services{% endblock %}

{% block body %}    

{% include "services_sub_menu.html" %}

<div class="contentMainPanel">
    <h1>Oppian Services</h1>
    <p class="paragraphText">We are comitted to working with clients to design, prototype, implement, test and extend mobile and internet based systems.</p>
    
    <ul class="paragraphText">
    <li>Oppian is a software systems consultancy.</li>
    <li>Passionate about embedded devices, high quality software and the shift to cloud computing.</li>
    <li>Total solutions from embedded operating systems to back-end infrastructure. We can provide strategic/architectural expertise throughout.</li>
    <li>We embrace agile development and iterative delivery.</li>
    <li>Our team of engineers have worked at Psion, Apple, Adobe and Symbian on both mobile clients as well as backend servers with a focus on scaling.</li>
    </ul>
    
    <p class="paragraphLink"><a href="{% url clients %}" target="_self" title="Follow this link to find out more about the our clients">Follow this link to find out more about the our clients</a></p>
    
</div>

{% endblock %}