{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block tab_id %}services{% endblock %}

{% block body %}    
    	<div class="contentSubNav">
        
        	<!--2NDRYNAV-->
            
          <div id="secondarynav_top" class="secondarynav_top">
          </div>
            
      	  <div id="secondarynav_middle" class="secondarynav_middle">
        
        	<ul class="topnav">
            
            	<li class="topnav"> 
        	  
                  <div class="secondarynav_highlight_top"></div>
                  <div class="secondarynav_highlight_middle">
                  <h4 class="secondarynav_middle_layout"><a href="{% url services %}" class="secondarynav_link" target="_self" title="Services">Services</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom"></div>
                  
                 
                <div class="secondarynav_divider"></div>
                </li>
                <li class="topnav">
                  
                  <div class="secondarynav_highlight_top_off"></div>
                  <div class="secondarynav_highlight_middle_off">
                  <h4 class="secondarynav_middle_layout"><a href="#recommended" class="secondarynav_link_off" target="_self" title="Recommendded">Recommended</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom_off"></div>

                      
                <div class="secondarynav_divider"></div>
                </li>
                <li class="topnav">
                  
                  <div class="secondarynav_highlight_top_off"></div>
                  <div class="secondarynav_highlight_middle_off">
                  <h4 class="secondarynav_middle_layout"><a href="{% url clients %}" class="secondarynav_link_off" target="_self" title="Clients">Clients</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom_off"></div>
                  
                
                
                <div class="secondarynav_divider"></div>
              	</li>
              	<li class="topnav">
              
                  <div class="secondarynav_highlight_top_off"></div>
                  <div class="secondarynav_highlight_middle_off">
                  <h4 class="secondarynav_middle_layout"><a href="{% url contact %}" class="secondarynav_link_off" target="_self" title="Contact">Contact</a></h4>
                  </div>
                  <div class="secondarynav_highlight_bottom_off"></div>
              	
                </li>
              
            </ul>    	
                
          </div>
            
          <div id="secondarynav_bottom" class="secondarynav_bottom">
          </div>

        
        </div>
        
        <div class="contentMainPanel">
        
        	<h1>Oppian Services</h1>
            <p class="paragraphText">We are comitted to working with clients to design, prototype, implement, test and extend mobile and internet based systems.</p>
            
            <ul class="paragraphText">
            <li>Oppian is a software systems consultancy.</li>
    		<li>Passionate about embedded devices, high quality software and the shift to cloud computing.</li>
    		<li>Total solutions from embedded operating systems to back-end infrastructure. We can provide strategic/architectural expertise throughout.</li>
    		<li>We embrace agile development and iterative delivery.</li>
    		<li>Our team of engineers have worked at Psion, Apple, Adobe and Symbian on both mobile clients as well as backend servers with a focus on scaling.</li>
            </ul>
            
            <p class="paragraphLink"><a href="{% url clients %}" target="_self" title="Follow this link to find out more about the our clients">Follow this link to find out more about the our clients</a></p>
            
            <div class="hr"><hr /></div>

            <a name="recommended" id="recommended"></a>
            <h1>Recommended</h1>
            <p class="paragraphText">We at Oppian like to give credit where credit is due and we'd like to recommend these services that we often use ourselves.</p>
          
            <div class="content2Cols_LHS"><a href="http://www.amazon.com/" target="_blank" class="imgLink" title="Amazon"><img src="{{ MEDIA_URL }}images/services/amazon-web-services.jpg" width="210" height="143" border="0" alt="Amazon" title="Amazon" id="amazon" /></a></div>
            <div class="content2Cols_RHS"><a href="http://www.rightscale.com/" target="_blank" class="imgLink" title="Right Scale"><img src="{{ MEDIA_URL }}images/services/rightscale.jpg" width="210" height="143" border="0" alt="Right Scale" title="Right Scale" style="float:right;" id="rightscale"/></a></div>

        </div>
            
{% endblock %}