{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block tab_id %}services{% endblock %}

{% block body %}    

{% include "services_sub_menu.html" %}

<div class="contentMainPanel">
    <h1>Oppian Services</h1>
    
    <p class="paragraphText">At <span class="oppian_name">Oppian</span>, we collaborate closely with clients to design, prototype and evolve complete end-to-end mobile and web-based systems.  Our unique understanding of a wide range of technologies, from native and web-based mobile clients through to scalable cloud computing infrastructure, enables us to give our clients a major competitive advantage.</p>
    <p class="paragraphText">We advocate the use of an agile development approach whenever possible, with close customer contact throughout the engagement, to ensure that we are providing the best value.</p>

    <ul class="paragraphText">
        <li><span class="oppian_name">Oppian</span> is a complete software systems consultancy</li>
        <li>We have expert skills in both backend infrastructure and mobile/web-based client technology</li>
        <li>We are passionate about embedded devices, high quality software and the shift to cloud computing</li>
        <li>We embrace agile development with iterative delivery</li>
        <li>Our team of engineers have worked on many market-leading products at Psion, Apple, Adobe and Symbian</li>
    </ul>

    <p class="tagline">We get the cloud transition and we can get you on the cloud too</p>
    
</div>

{% endblock %}