{% extends 'base.html' %}

{% block title %}Services{% endblock %}
{% block body_title %}The things we do{% endblock %}
{% block tab_id %}services{% endblock %}

{% block body %}
<ul>
	<li>Oppian is a software systems consultancy.</li>
	<li>Passionate about embedded devices, high quality software and the shift to cloud computing.</li>
	<li>Total solutions from embedded operating systems to back-end infrastructure.  We can provide strategic/architectural expertise throughout.</li>
	<li>We embrace agile development and iterative delivery.
	<li>Our team of engineers have worked at <a href="http://www.psion.com">Psion</a>, <a href="http://www.apple.com">Apple</a>, <a href="http://www.adobe.com">Adobe</a> and <a href="http://www.symbian.com">Symbian</a> on both mobile clients as well as backend servers with a focus on scaling.
</ul>

Read more about our <a href="{% url clients %}">clients and partners</a>.

{% endblock %}